body{
    background-color: #6930C3;
    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    background-color: #5E60CE;
    margin: 10px 20px 0px 20px;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Courier New', Courier, monospace;
}

img{
    border-radius: 20px;
}

.baseBloco{
    margin: 5px 20px 50px 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #5E60CE;
    border-radius: 0px 0px 10px 10px;
}

a{
    display:block;
    text-decoration: none;
    color: white;
}