body{
    background-color: #6930C3;
    color: white;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

h2{
    background-color: #5E60CE;
    margin: 10px 20px 0px 20px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 0px;
}

img{
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 10px;
    height: 300px;
    padding: 15px;
    background-color: #5E60CE;
}



.baseBloco{
    margin: 5px 20px 50px 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    background-color: #5E60CE;
    border-radius: 0px 0px 10px 10px;
}

main{
    max-width: 1200px;
    margin: 0px auto;
}

a{
    display:block;
    text-decoration: none;
    color: white;
}

li{
    padding: 5px;
    border-radius: 5px;
}

#descricaoBloco{
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: center;
}

#descricaoBloco h1{
    width: 100%;
}

#descricao{
    flex-grow: 1;
    max-width: 800px;
}


#descricao p{
    height: 210px;
}

#habilidades li:nth-of-type(odd){
    background-color: #6930C3;
}

