body{
    background-color: #5E60CE;
    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    border-radius: 20px;
}

p{
    font-family: 'Courier New', Courier, monospace;
}